.first{
  padding: 200px 0 213px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__left{
    text-align: left;
    &_subtitle{
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: white;
    }

    &_title{
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      color: #FFFFFF;
      margin: 7px 0 11px;
    }

    &_online{
      margin: 20px 0 26px;
      display: flex;
      align-items: center;
      column-gap: 10px;

      &_text{
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
      }

      &_circle{
        border-radius: 50%;
        background: #00FB0C;
        width: 13px;
        height: 13px;
      }
    }
  }

  &__right{
    display: flex;
    align-items: center;

    &_list{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      position: relative;
      z-index: 2;
    }

    &_item{
      padding: 8px 48px 17px 17px;
      background: #FFFFFF;
      filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.4));
      border-radius: 4px;
      display: flex;
      align-items: center;
      column-gap: 17px;

      &_info{
        display: flex;
        flex-direction: column;
        row-gap: 6px;


        &_text {
          font-weight: 400;
          font-size: 12px !important;
          color: #898989;
        }
      }

      &_title{
        font-weight: 500;
        font-size: 14px !important;
        color: #425066;
      }
    }

    &_circle{
      width: 380px;
      height: 380px;
      position: relative;
      border-radius: 50%;
      border:10px solid white;
      z-index: 1;
      right: 50px;
      transform: scale(1.2);
      overflow: hidden;

      &_img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1300px) {
  .first__right_item {
    padding: 2px 11px 1px 8px;
  }
}

@media (max-width: 1050px) {
  .first__right_circle {
    width: 350px;
    height: 350px;
    right: 3px;
  }
  .first__right_list {
    row-gap: 10px;
    right: -100px;
  }
  .first__left_title {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
    margin: 3px 0 1px;
  }
  .first__right_item {
    padding: 2px 5px 1px 13px;
    width: 112%;
  }
}

@media (max-width: 950px) {
  .first__right_item_info_text {
    display: none;
  }
  .first__right_item {
    padding: 15px 34px 15px 13px;
    width: 145%;
  }
}

@media (max-width: 800px) {
  .first__left_title {
    font-size: 20px;
  }
  .first__left_subtitle {
    font-size: 15px;
  }
  .first__left_online_text {
    display: none;
  }
  .first__left_online {
    margin: 15px 0 20px;
    transform: scale(.8);
  }
  .first__right_circle {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 700px) {
  .first__left_online {
    display: none;
  }
}

@media (max-width: 650px) {
  .first__left_title {
    font-size: 18px;
  }
  .first__left_subtitle {
    margin-bottom: 10px;
  }
  .first__right_circle {
    display: none;
  }
  .first__box {
    justify-content: initial;
  }
}

@media (max-width: 550px) {
  .first__box {
    justify-content: center;
  }
  .first__right {
    display: none;
  }
}